body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    padding-top: 56px !important;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin: 0;
}

.navbar {
    background-color: black;
    color: white;
}

.navbar .navbar-brand, .navbar .nav-link {
    color: white !important;
}

.navbar .navbar-brand:hover, .navbar .nav-link:hover {
    color: mediumpurple !important;
}

.container {
    padding: 20px 0;
}

.home-background {
    background-color: rgba(33, 33, 33, 0.85);
}

.highlight {
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: white;
    text-underline-offset: 10px;
    color: white;
    font-weight: bold;
}

.highlight:hover {
    color: mediumpurple;
    text-decoration-color: white;
}

.description {
    font-size: 1.5rem;
    color: #d3d3d3;
    font-weight: lighter;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.highlight-black {
    background-color: white;
    color: black;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

.custom-btn {
    background-color: black;
    font-size: 1.3rem;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 10px 20px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: white;
    color: black;
}

.custom-btn-small {
    background-color: black;
    font-size: 1.1rem;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 5px 10px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.custom-btn-small:hover {
    background-color: white;
    color: black;
}

.card-title {
    margin-bottom: 10px;
    color: white;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.card {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    color: white;
}

.card table {
    width: 100%;
}

.card table th, .card table td {
    color: #000000;
    border-bottom: 1px solid #444;
    background-color: #ffffff;

}

@media (max-width: 600px) {
    #initial-balance-form,
    #transaction-form {
        width: 100%;
    }
}

.floating-image {
    position: relative;
    z-index: 1;
    animation: levitating 3s ease-in-out infinite;
}

@keyframes levitating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

.accordion-button:not(.collapsed) {
    background-color: #444;
    color: white;
    border-color: #555;
}

.accordion-button {
    background-color: black;
    color: white;
    border-color: #555;
}

.accordion-button:hover {
    background-color: #555;
    color: white;
}

.accordion-body {
    background-color: black;
    color: #d3d3d3;
}

#rotating-image {
    width: 200%;
    max-width: 800px;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    margin: 0 auto;
}

@media (max-width: 768px) {
    #rotating-image {
        width: 100%;
        margin: 0 auto;
    }
}

.footer {
    background-color: #2c2c2c;
    color: #fff;
    padding: 20px 0;
}

.footer .footer-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: mediumpurple;
    margin-bottom: 20px;
}

.footer .footer-link {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer .footer-link:hover {
    color: mediumpurple;
}

.footer .footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}

.footer .container {
    max-width: 1140px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer .col-md-4 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .footer .row {
        flex-direction: column;
        align-items: center;
    }

    .footer .col-md-4 {
        margin-bottom: 20px;
    }

    .footer .footer-title {
        text-align: center;
    }

    .footer .footer-text {
        text-align: center;
    }
}