<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUANTIQA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
</head>
<body>
<nav class="navbar navbar-expand-lg custom-navbar fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">Quantiqa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/app">Aplicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/calculadoras.html">Calculadoras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nomina.html">Nomina</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/acerca.html">Acerca de Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#faq">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#contact">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1 class="text-center mb-4">Quantiqa</h1>


    <div id="balance-display" class="alert alert-success text-center" role="alert">Balance Actual: $0</div>
    <div class="row">
        <div class="col-md-6">
            <div id="initial-balance-form" class="card p-3 mb-4">
                <h5 class="card-title">Establecer Balance Inicial</h5>
                <input type="number" id="initial-balance" class="form-control" placeholder="Ingrese su balance inicial"
                       required>
                <button class="custom-btn-small mt-2" onclick="setInitialBalance()">Establecer Balance Inicial</button>
            </div>

            <div id="transaction-form" class="card p-3" style="display: none;">
                <h5 class="card-title">Agregar Transacción</h5>
                <input type="text" id="description" class="form-control mb-2" placeholder="Descripción" required>
                <input type="number" id="amount" class="form-control mb-2" placeholder="Monto" required>
                <input type="date" id="date" class="form-control mb-2" required>
                <div class="form-group">
                    <label><input type="radio" name="transaction-type" value="ingreso" checked> Ingreso</label>
                    <label><input type="radio" name="transaction-type" value="gasto"> Gasto</label>
                </div>
                <button class="custom-btn-small" onclick="addTransaction()">Agregar Transacción</button>
            </div>
        </div>

        <div class="col-md-6">
            <h5 class="card-title">Historial de Transacciones</h5>
            <div class="form-group">
                <label for="sort-transactions">Ordenar por:</label>
                <select id="sort-transactions">
                    <option value="default">Default</option>
                    <option value="date">Date</option>
                    <option value="amount">Amount</option>
                </select>
            </div>
            <ul id="transactions-list" class="list-group"></ul>

            <!-- Sección para el día con mayor gasto -->
            <div id="max-expense-display" class="mt-4 alert alert-warning" role="alert" style="display: none;">
                Mayor Gasto: $<span id="max-expense-amount">0</span> en la fecha: <span id="max-expense-date">-</span>
            </div>

            <div class="mt-4">
                <button class="btn btn-warning" onclick="window.location.href='/generate_report/'">
                    Descargar Historial en PDF
                </button>
            </div>
        </div>

    </div>

    <div class="container mt-4">
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>

    <button id="reset-button" class="custom-btn">Reiniciar APP</button>
</div>
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="footer-title">Sobre Quantiqa</h5>
                <p>Una plataforma innovadora para gestionar tus finanzas personales de manera sencilla y eficiente.</p>
            </div>
            <div class="col-md-4">
                <h5 class="footer-title">Enlaces Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="/app" class="footer-link">Aplicación</a></li>
                    <li><a href="/calculadoras.html" class="footer-link">Calculadoras</a></li>
                    <li><a href="/acerca.html" class="footer-link">Acerca de Nosotros</a></li>
                    <li><a href="/#faq" class="footer-link">FAQ</a></li>
                    <li><a href="/#contact" class="footer-link">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="footer-title">Contacto</h5>
                <p>Para más información o dudas, puedes ponerte en contacto con nosotros a través del formulario en la sección "Contacto".</p>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="footer-text">© 2024 Quantiqa. Todos los derechos reservados.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/script.js"></script>
</body>
</html>
